# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# directorios de trabajo para la imagen docker
logs/*

# ejemplos que genera Shiny automáticamente al iniciar
apps/01_*
apps/02_*
apps/03_*
apps/04_*
apps/05_*
apps/06_*
apps/07_*
apps/08_*
apps/09_*
apps/10_*
apps/11_*

